* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 15px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100vw;
    max-height: 75vh;
}

header {
    padding: 1rem;
    margin-left: 7px;
    margin-right: 7px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.about-button img {
    width: 15%;
}

.menu-button {
    justify-self: left;
}


/* 
.add-song-button {
    width: 15%;
} */


/* .add-song-button img {
    width: 25px;
} */

.website-title {
    justify-self: center;
}

.song-list {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-row-gap: 10px;
}

.song-block {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.song-block p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.song-block img {
    width: 70px;
    border-radius: 5px;
}

.marvin {
    width: 60px;
    justify-self: right;
}

.details {
    display: grid;
    grid-template-rows: 1, 100px, repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem;
    margin: 7px;
}

.details img {
    width: 300px;
    height: 300px;
    justify-self: right;
    border-radius: 7px;
}

h2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
    text-align: center;
}

.comments-ratings-form2 {
    justify-self: right;
}

.ratings-block {
    justify-self: right;
}

.backdrop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal {
    display: none;
    position: fixed;
    z-index: 200;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: var(--red);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.568);
    padding: 1rem;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
}

.modal-actions button {
    font-size: 15px;
    padding: 3px 7px;
    border-radius: 5px;
}

.form-submit {
    float: right;
}